.container {
  margin: 0 auto;
  width: 1064px;
}

.navbtn {
  width: 250px;
  height: 200px;
}

@media only screen and (max-width: 480px) {
  .navbtn {
    background-color: yellow;
  }

}

@media only screen and (min-width: 480px) {
  .navbtn {
    background-color: blue;
  }
  
}

@media only screen and (min-width: 1024px) {
  .navbtn {
    background-color: red;
  }
  
}